<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="produto">
        <img src="https://images.petz.com.br/fotos/1657825112713_mini.jpg" alt="nomeProduto" class="produto-imagem">
        <h3>Brinquedo Zee.Dog Alien Flex Ghim para Cães</h3>
        <p>Código: COD123</p>
        <p>Preço: R$ 19.99</p>
        <button class="btn btn-primary">Adicionar à Sacola</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="produto">
        <img src="https://images.petz.com.br/fotos/1657824784914_mini.jpg" alt="nomeProduto" class="produto-imagem">
        <h3>Brinquedo Zee.Dog Alien Flex Bubu para Cães</h3>
        <p>Código: COD456</p>
        <p>Preço: R$ 29.99</p>
        <button class="btn btn-primary">Adicionar à Sacola</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="produto">
        <img src="https://images.petz.com.br/fotos/1631104840972.jpg" alt="nomeProduto" class="produto-imagem">
        <h3>Brinquedo Zee.Dog Monsterz Greg para Cães</h3>
        <p>Código: COD789</p>
        <p>Preço: R$ 39.99</p>
        <button class="btn btn-primary">Adicionar à Sacola</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="produto">
        <img src="https://images.petz.com.br/fotos/1657825418263.jpg" alt="nomeProduto" class="produto-imagem">
        <h3>Brinquedo Zee.Dog Alien Flex Stixx para Cães</h3>
        <p>Código: COD101</p>
        <p>Preço: R$ 49.99</p>
        <button class="btn btn-primary">Adicionar à Sacola</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="produto">
        <img src="https://images.petz.com.br/fotos/1457992186939.jpg" alt="nomeProduto" class="produto-imagem">
        <h3>Brinquedo Chalesco Pelúcia Crocodilo para Cães</h3>
        <p>Código: COD202</p>
        <p>Preço: R$ 59.99</p>
        <button class="btn btn-primary">Adicionar à Sacola</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="produto">
        <img src="https://images.petz.com.br/fotos/1631105198706.jpg" alt="nomeProduto" class="produto-imagem">
        <h3>Brinquedo Zee.Dog Monsterz Pipp para Cães</h3>
        <p>Código: COD303</p>
        <p>Preço: R$ 69.99</p>
        <button class="btn btn-primary">Adicionar à Sacola</button>
      </div>
    </div>
  </div>
</div>
