<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 formulario">
                <h2 class="text-center">Fale Conosco</h2>
                <form>
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="text" class="form-control" id="nome" name="nome">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="mensagem">Mensagem:</label>
                        <textarea class="form-control" id="mensagem" name="mensagem" rows="4"></textarea>
                    </div>
                    <div class="text-center"> <!-- Adicionando a classe text-center aqui -->
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4 imagem-texto">
                <img src="https://scontent.fjdf2-2.fna.fbcdn.net/v/t39.30808-6/239625083_890601401858519_6136509927261206587_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeEh9j_-oAb4BxYmKzMl-StrFKVUmlqy-n8UpVSaWrL6f9TT6ZSBVHdaRy_zPnVrnXDVVrknONbz4JaWBIGdju0s&_nc_ohc=yCtXECIfNagAX83-rlB&_nc_ht=scontent.fjdf2-2.fna&oh=00_AfCzOi0-HGpTjhhQMxAxk8GVylbXu_kn9WA030EFxTqqJQ&oe=64EE10B9" alt="Imagem" class="imagem">
                <p>Endereço:</p>
                <p>Av. Pedro Henrique Krambeck, 3113 - loja 101 - São Pedro, Juiz de Fora - MG, 36036-445</p>
                <p>Telefone: (32) 4141-0391</p>
            </div>
        </div>
    </div>